{% extends 'classifier/base.html' %}
{% block content %}
{% load static %}

      <div class="container py-5">
        <h1>FFPA Image Classification Tool</h1>
          <p>This tool will be used to generate <b>training sets of images for supervised machine learning models</b> used for determining preliminary FFPA assessments.

          <br><img src="{% static 'logos/dnr.png' %}" style="width:20em; height:auto;">

          <br><br>Classes currently used are:<br></p>
            <p>
            {% for class in classification_list %}
            <button type="button" class="btn btn-secondary m-2">{{ class }}</button>
            {% endfor %}
            </p>
            <small>note: images to be classified must be pre-loaded</small>
      </div><!-- /.container -->
{% endblock %}