{% extends 'classifier/base.html' %}
{% block content %}

      <div class="container py-5">
        <h1> - Success - </h1>
          <p>You've classified all available photos!</p>
            <i class="fas fa-smile fa-9x green"></i><br><br>
            <a class="btn btn-secondary m-2" href="{% url 'summary' %}">Go to Classification Summary</a>
            <hr>
            <p class="text-muted small">Let the world know! Contact <a href="mailto:kirk.davis@dnr.wa.gov?subject=Finished all images!">Kirk Davis</a></p>
      </div><!-- /.container -->
{% endblock %}